.infinite-roll-selection {
    -fx-padding:          10;
    -base-color:          rgb(255, 201, 104);
    -fx-background-color: rgb(255, 255, 250);
}

.infinite-roll-selection .drawing-pane {
    -fx-background-color: transparent;
}

.infinite-roll-selection .label {
    -fx-background-color: transparent;
    -fx-font-family:      'Lato Regular';
    -fx-font-size:        24;
}
/*
.infinite-roll-selection .editable-node {
    -fx-font-family:      'Lato Regular';
    -fx-font-size:        14;
    -fx-text-fill:        derive(-base-color, -30%);
    -fx-prompt-text-fill: derive(-base-color, 40%);
}

.infinite-roll-selection .editable-node:focused {
    -fx-prompt-text-fill: derive(-base-color, 40%);
    -fx-highlight-fill:   derive(-base-color, -30%);
}

.infinite-roll-selection:invalid .editable-node {
    -fx-font-family: 'Lato Light';
    -fx-text-fill:   red;
}

.infinite-roll-selection:mandatory .editable-node {
    -fx-background-color: white;
    -fx-border-color:     derive(-base-color, -30%);
    -fx-border-width:     2;
    -fx-border-radius:    4;
}

.infinite-roll-selection:mandatory .editable-node:focused {
    -fx-background-color: white;
    -fx-border-color:     derive(-base-color, -30%);
    -fx-border-width:     2;
    -fx-border-radius:    4;
}

.infinite-roll-selection .read-only-node {
    -fx-font-family:     'DS-Digital';
    -fx-pref-width:      80;
    -fx-max-width:       1024;
    -fx-alignment:       center;
    -fx-content-display: text-only;
    -fx-font-size:       22;
    -fx-text-fill:       rgb(139, 86, 70);
}

.infinite-roll-selection .chooser-button {
    -fx-font-family:      'FontAwesome';
    -fx-border-color:     transparent;
    -fx-background-color: transparent;
    -fx-min-width:        26;
    -fx-min-height:       26;
    -fx-font-size:        14;
    -fx-text-fill:        derive(-base-color, -30%);
    -fx-padding:          5;
    -fx-content-display:  text-only;
    -fx-cursor:           hand;
}

.infinite-roll-selection .chooser-button:hover {
    -fx-background-color:  derive(-base-color, 70%);
    -fx-background-radius: 1024;
    -fx-background-insets: 4;
}
*/

.infinite-roll-selection .background-rect {
    -fx-fill: linear-gradient(from 50% 0% to 50% 100%,
                                            rgba(84, 84, 84, 1)     0%,
                                            rgba(126, 126, 126, 1)  10%,
                                            rgba(216, 216, 216, 1)  50%,
                                            rgba(121, 121, 121, 1)  90%,
                                            rgba(75, 75, 75, 1)     100%);
}


